.top {
  text-align: center;
  margin-left: -10px;
}
#date {
  margin-top: -3;
  font-size: 1.6em;
}
#cloud {
  font-size: 300%;
}
#city {
  font-size: 200%;
}
b {
  font-size: 150px;
}
#open {
position: relative;
color: blue;
text-decoration: none;
right: 20px;
}
